@import url(https://raw.githack.com/hormelcookies/dark-discord/hormelcookies-patch-1/src/source.css);
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/bottomhsl.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css');

.theme-dark,
.theme-light,
:root {
   --background-primary: #16161c !important;
   --background-secondary: #1a1c23 !important;
   --background-secondary-alt: #2E303E !important;
   --background-tertiary: #1c1e26 !important;
   --background-accent: #232530 !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #6C6F93 !important;
   --text-muted: #2E303E !important;
   --text-normal: #fdf0ed !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fdf0ed !important;
   --interactive-muted: #747474 !important;
   --header-primary: #fdf0ed !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
}

.container-3baos1, .peopleList-3c4jOR {
    background-color: #16161c;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    font-family: monospace;
}
